CLAUDE.md

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

results/
*.pth
*.pth.tar
*.pkl

# Datasets
PASTIS*/
data/
*.npy

.ipynb_checkpoints/
.DS_Store

webapp/samples/*
!webapp/samples/.gitkeep
*.npz
